{{#if promoted}}
<li class="promoted">{{name}} - {{price}} <a class="edit" href="/catalog/edit/{{_id}}">Edit</a></li>
{{else}}
<li>{{name}} - {{price}} <a class="edit" href="/catalog/edit/{{_id}}">Edit</a></li>
{{/if}}