{{#with user}}
<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        <!-- Do not forget to change the path to the image -->
        <!-- Gender of the user determines which picture is displayed as their avatar -->
        {{#if isMale}}
        <img class="profile-img" src="/static/images/male.png">
        {{else}}
        <img class="profile-img" src="/static/images/female.png">
        {{/if}}

        <p>Email: <span>{{email}}</span></p>
    </div>
    <div class="profile-info">
        <p>Trips History: <span>{{tripsCount}}</span> counts</p>

        <div class="trips-info">
            <!-- If there are trips created by the current logged in user display each of them -->
            {{#each trips}}
            <p>from <span>{{start}}</span> to <span>{{end}}</span> on <span>{{date}}</span> at
                <span>{{time}}</span>
            </p>
            {{else}}
            <p>there are no offer trips yet...</p>
            <!-- If there are no trips created by the current logged in user display:-->
            {{/each}}
        </div>

    </div>
</section>
{{/with}}